<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{server.name}} | {{channel.name}}</title>
    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
    <script
      defer
      type="text/javascript"
      src="{{ url_for('static', filename = 'client.js') }}"
    ></script>
  </head>
  <body>
    <h1>{{server.name}} | {{channel.name}}</h1>
    <p>{{channel.about}}</p>
    {% if messages == None %}
    <p>No messages.</p>
    {% else %}
    <ul>
      {% for message in messages %}
      <li>{{message.messenger}}</li>
      <li>{{message.message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <ul></ul>
    <input type="hidden" id="server_id" value="{{server.id}}">
    <input type="hidden" id="channel_id" value="{{channel.id}}">
    <input
      type="hidden"
      name="username"
      value="{{current_user.username}}"
      id="username"
    />
    <input type="text" name="message" id="message" />
    <button type="submit" id="send">Send</button>
  </body>
</html>
